<footer class="footer px-2 py-3 bg-light">
    <div class="container">
        <p>
            Copyrights &copy; 2021 | Chouchane Louai & Gaham Oussama
        </p>
    </div>
</footer>


<%- include('../components/_login'); %>
    <%- include('../components/_signup'); %>

        <script src="../js/bootstrap.js"></script>
</body>

</html>