<header class="p-navigation">
    <div class="p-navigation__row">
        <div class="p-navigation__banner">
            <div class="p-navigation__logo">
                <a href="#" class="p-navigation__item">
                    <img src="../img/g927.png" alt="" class="p-navigation__image">
                </a>
            </div>
        </div>

        <nav class="p-navigation__items">
            <span class="u-off-screen">
                <a href="#main-content">Jump to main content</a>
            </span>

            <ul class="p-navigation__items">
                <li class="p-navigation__item">
                    <a href="#" class="p-navigation__link">Products</a>
                </li>

                <li class="p-navigation__item">
                    <a href="#" class="p-navigation__link">Partners</a>
                </li>

                <li class="p-navigation__item">
                    <a href="#" class="p-navigation__link">Services</a>
                </li>

                <li class="p-navigation__item">
                    <a href="#" class="p-navigation__link">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>