<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="navigation">
            <nav class="nav mb-2 pos-right">
                <div class="d-flex">
                    <div class="mb-2">
                        <a href="#" class="nav-link px-2 text-white">Products</a>
                    </div>
                    <div class="mb-2">
                        <a href="#" class="nav-link px-2 text-white">Partners</a>
                    </div>
                    <div class="mb-2">
                        <a href="#" class="nav-link px-2 text-white">Services</a>
                    </div>
                    <div class="mb-2">
                        <a href="#" class="nav-link px-2 text-white">About</a>
                    </div>
                    </div>
            </nav>
            <div class="text-end pos-left">
                <button class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#signinModal">Login</button>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#signupModal">Sign-up</button>
            </div>
            </div>
    </div>
</header>