<%- include('partials/head'); %>
<%- include('components/_navbar'); %>
<div class="main-pager">
    <div class="hero-image">
        <img src="../img/bg-3.png" alt="">
        <div class="text-on-hero">
            <div class="box">
                <div class="title">
                    <h1>Hello there products</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae quam consequatur
                        consequuntur
                        labore exercitationem dolor, atque dicta magnam eius quia voluptates. Minima vitae hic, et nihil
                        animi quos maiores harum?
                        Velit enim accusantium nulla beatae laboriosam quibusdam atque, consectetur nam dicta odit.
                        Voluptatibus perferendis praesentium ipsam consectetur vero quo temporibus nobis quaerat in
                        eveniet,
                        repellendus aut dolor illum quia itaque?
                        Impedit, voluptatibus eius rem debitis perferendis a. A soluta, magnam placeat enim magni quod
                        nostrum ad. Fugit recusandae perferendis doloremque magnam quisquam aliquam, alias animi quod
                        ullam?
                        Eos, nobis velit.
                        Dolore nemo voluptas accusantium nisi ab officiis sunt explicabo, velit saepe atque voluptatibus
                        repudiandae incidunt veniam quaerat minus itaque provident? Vel vitae laudantium ad dolor
                        pariatur
                        ducimus et modi dolore!
                        Maxime error, cum eos quam, amet inventore non deleniti sed mollitia at alias illum! Unde eius
                        iste
                        odio perspiciatis facilis veritatis libero, fuga, magni perferendis inventore ad nemo voluptatum
                        exercitationem!
                        Eligendi odio neque atque autem praesentium et quam possimus fugit eius ipsum repellendus
                        molestiae
                        unde aliquid reiciendis minima, obcaecati cumque tempore doloremque? Minus omnis neque soluta
                        tempore ea aut accusamus.
                        Velit temporibus perspiciatis sit voluptatem incidunt doloremque voluptatibus corrupti dolore
                        neque
                        id molestiae quaerat cum libero autem ducimus itaque provident voluptas nostrum, fugit
                        reprehenderit
                        quos vitae cumque officiis excepturi! Soluta!
                        Impedit, placeat earum perferendis aliquid distinctio optio fugit consequatur est odit quis
                        eveniet
                        similique adipisci consectetur? Dolorem hic consequatur totam perferendis nisi nostrum facere
                        id! A
                        quibusdam in suscipit rem!
                        Itaque fugiat dolore placeat ratione tenetur ad libero consequatur eius quas reprehenderit
                        repudiandae cum quibusdam optio nostrum nemo veritatis, non iste, reiciendis fuga eligendi
                        eaque.
                        Explicabo similique facere aperiam cumque.
                        Corrupti similique sed ipsam, rerum aliquid unde placeat quisquam! Accusantium facilis, quis cum
                        sed
                        aut nisi eius quos velit? Quaerat tempore deserunt expedita numquam nisi perferendis eius
                        voluptates
                        vel laudantium!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    <%- include('partials/head'); %>