<%- include('partials/head'); %>
<%- include('components/_navbar'); %>
<div class="cover-container">
    <main class="px-3">
        <h1 class="text-center text-white">Tech Store Constantine</h1>
        <div class="container text-dark white-box-7 px-2 py-2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nesciunt autem ducimus molestias expedita quae
            incidunt
            debitis eos? Cum vel asperiores atque veritatis nisi, soluta praesentium sunt modi repudiandae doloribus.
            Ducimus hic mollitia ut. At, voluptatum quaerat! Corrupti ex maxime laborum tempora consequuntur optio
            facere quidem
            natus neque quas perspiciatis, cum voluptatem non unde debitis mollitia nemo voluptatum. Maiores, a!
            Odit sunt reprehenderit est commodi praesentium quo laboriosam laudantium iste. Molestiae consectetur
            asperiores
            repudiandae eius a quas tenetur architecto, excepturi maxime odio libero vero ipsum odit maiores ut, animi
            et.
        </div>
    </main>

    <section class="my-3 container">
        <div class="px-3 mx-3">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="../img/kb.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Similique ut, alias architecto et laborum, reprehenderit magnam aut at,
                                ducimus earum deleniti maiores ex porro corporis odio animi est.
                                Nemo, natus!</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../img/cpu.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Similique ut, alias architecto et laborum, reprehenderit magnam aut at,
                                ducimus earum deleniti maiores ex porro corporis odio animi est.
                                Nemo, natus!</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../img/ms.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Similique ut, alias architecto et laborum, reprehenderit magnam aut at,
                                ducimus earum deleniti maiores ex porro corporis odio animi est.
                                Nemo, natus!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>


<%- include('partials/foot'); %>