@import '../../node_modules/bootstrap/scss/bootstrap.scss';


@import 'profile';


.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .pos-left{
        align-items: center;
        
    }

}

body{
    display: flex;
    flex-direction: column;
}

footer{
    
}

.bg-img{
    background: url(../img/bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.white-box-7{
    background: rgba(255, 255, 255,0.7);
}
.footer{
    flex-shrink: 0;
}