<%- include('../partials/head'); %>
    <div class="dashboard bg-darks">
        <%- include('../components/_profile-dash'); %>
            <div class="stats">

            </div>
    </div>



    <%- include('../partials/foot'); %>